@import url('./reset.css');
@import url('./variables.css');
@import url('./animations.css');
@import url('./responsive.css');


/* CSS  DEFAULT*/

html {
    font-size: 18px;
    font-family: var(--ff-mali), Arial, Helvetica, sans-serif;
    height: 100vh;
}

body {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* 100% taille de l'écran parent:*/
    background-image: url('../img/others/bg.jpg');
}

body main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: var(--black);
    height: 90%;
    width: 90%;
}

main .play-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 90%;
}

main .play-song {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 10%;
}

.play-content .sidebar-left {
    width: 25%;
    height: 100%;
    background: var(--black);
    /* padding: 10px 20px; */
}

.play-content .sidebar-right {
    width: 75%;
    height: 100%;
    padding: 10px 20px;
}

.play-content .sidebar-left .sidebar-left-title {
    text-transform: capitalize;
    font-size: var(--fs-9);
    color: var(--white-2);
    width: 100%;
    height: 8%;
    padding: 10px 30px;
}

.play-content .sidebar-left .sidebar-left-category {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    padding: 0px 30px;
    justify-content: space-around;
}

.play-content .sidebar-left .sidebar-left-category .sidebar-left-category-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.play-content .sidebar-left .sidebar-left-category .sidebar-left-category-item ion-icon {
    color: var(--white);
    font-size: var(--fs-10);
    cursor: pointer;
    margin-right: 20px;
}

.play-content .sidebar-left .sidebar-left-category .sidebar-left-category-item .sidebar-left-category-title {
    text-transform: capitalize;
    font-size: var(--fs-11);
    font-weight: var(--fw-700);
    color: var(--white);

}

.play-content .sidebar-left .sidebar-left-category .sidebar-left-category-item .sidebar-left-category-title:hover {
    color: var(--blue);
    cursor: pointer;
}

.play-content .sidebar-left .sidebar-left-category .sidebar-left-category-item.active .sidebar-left-category-title {
    color: var(--blue);
    font-weight: bold;
}


.play-content .sidebar-left .sidebar-left-category .sidebar-left-category-item.active ion-icon {
    color: var(--blue);
}


.play-content .sidebar-left .sidebar-left-playlist-song {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.play-content .sidebar-left .sidebar-left-playlist-song .sidebar-left-playlist-song-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 26px 30px;
}


.play-content .sidebar-left .sidebar-left-playlist-song .sidebar-left-playlist-song-item:is(:focus, :hover) .song-number {
    color: var(--blue);
    font-weight: var(--fw-700);
    cursor: pointer;
}

.play-content .sidebar-left .sidebar-left-playlist-song .sidebar-left-playlist-song-item:is(:focus, :hover) {
    cursor: pointer;
    box-shadow: var(--blue) 3px 3px 6px 0px;
}

/* 
.play-content .sidebar-left .sidebar-left-playlist-song .sidebar-left-playlist-song-item:is(:focus,:hover):not(.sidebar-left-playlist-song-item:last-child){
   box-shadow: var(--blue) 0px 20px 30px -10px;
   box-shadow: var(--blue) 3px 3px 6px 0px;
} */


.play-content .sidebar-left .sidebar-left-playlist-song .sidebar-left-playlist-song-item .song-number {
    color: var(--white);
}

.play-content .sidebar-left .sidebar-left-playlist-song .sidebar-left-playlist-song-item img {
    margin-left: 20px;
}

.play-content .sidebar-left .sidebar-left-playlist-song .sidebar-left-playlist-song-item .song-content {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.play-content .sidebar-left .sidebar-left-playlist-song .sidebar-left-playlist-song-item .song-content-title {
    color: var(--white-2);
    text-transform: capitalize;

}

.play-content .sidebar-left .sidebar-left-playlist-song .sidebar-left-playlist-song-item ion-icon {
    color: var(--white-2);
    margin-left: auto;
}

.play-content .sidebar-left .sidebar-left-playlist-song .sidebar-left-playlist-song-item ion-icon:hover {
    color: var(--blue);
    font-weight: var(--fw-700);
    cursor: pointer;
    font-size: var(--fs-5);
}

.play-on-item {
    box-shadow: var(--blue) 3px 3px 6px 0px;
}

.play-on-numero {
    color: var(--blue);
}

.play-on-icon {
    color: var(--blue) !important;
    font-weight: var(--fw-700);
    cursor: pointer;
    font-size: var(--fs-5);
}

.play-content .sidebar-left .sidebar-left-playlist-song .sidebar-left-playlist-song-item .song-content-artist-name {
    color: var(--white);
    text-transform: capitalize;

}

.play-content .sidebar-right {
    background-image: url('../img/artists/1/bg.png');
    background-repeat: no-repeat;
    /*    background-attachment: fixed;
*/
    background-position: center;
    /* background-size: cover; */
    /* border-left: 2px solid var(--blue);
    /* border-bottom: 2px solid var(--blue); */
    /* box-shadow: 1px 2px 4px var(--blue);  */
}

.play-content .sidebar-right .sidebar-right-header {
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.play-content .sidebar-right .sidebar-right-nav .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.play-content .sidebar-right .sidebar-right-nav .nav-list .nav-list-item {
    font-size: var(--fs-11);
    color: var(--white);
    text-transform: capitalize;
    margin-right: 20px;
}

.play-content .sidebar-right .sidebar-right-nav .nav-list li a {
    font-size: var(--fs-11);
    color: var(--white);
    text-transform: capitalize;
}

.play-content .sidebar-right .sidebar-right-nav .nav-list .nav-list-item .active {
    border-bottom: 2px solid var(--blue);
    border-spacing: 10px;
    font-weight: var(--fw-700);
    color: var(--white-2);

}

.play-content .sidebar-right .sidebar-right-nav .nav-list .nav-list-item:hover {
    color: var(--white-2);
}

.play-content .sidebar-right .sidebar-right-nav .nav-list .nav-list-item:hover a {
    color: var(--white-2);
}

.play-content .sidebar-right .sidebar-right-search {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: var(--white-2);
    padding: 7px 10px;
    height: fit-content;
    background: var(--black);
    border-radius: var(--border-radius-md);
    z-index: 3;
    opacity: 0.7;
    width: 40%;
}

.play-content .sidebar-right .sidebar-right-header img {
    height: fit-content;
    border-radius: var(--border-radius-md);
}

.play-content .sidebar-right input {
    background: none;
    outline: none;
    border: none;
    color: var(--white-2);
    text-transform: uppercase;
    margin-left: 30px;
}

.play-content .sidebar-right .sidebar-right-content {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.play-content .sidebar-right .sidebar-right-content h3 {
    color: var(--white-2);
    text-transform: capitalize;
    font-weight: var(--fw-700);
    font-size: var(--fs-6);
}

.play-content .sidebar-right .sidebar-right-content p {
    color: var(--white);
    font-weight: var(--fw-300);
    font-size: var(--fs-11);
}

.play-content .sidebar-right .sidebar-right-content .sidebar-right-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: fit-content;
    margin-top: 10px;
}


.play-content .sidebar-right .sidebar-right-content .sidebar-right-btn button {
    padding: 5px 30px;
    background: var(--black);
    border: 2px solid var(--blue);
    color: var(--blue);
    font-weight: var(--fw-300);
    font-size: var(--fs-10);
    border-radius: var(--border-radius-md);
    margin-right: 10px;
    cursor: pointer;
    text-transform: uppercase;
}


.play-content .sidebar-right .sidebar-right-content .sidebar-right-btn .btn-action.active {
    background: var(--blue);
    color: var(--black);
    font-weight: var(--fw-700);
    font-style: oblique;
}

.play-content .sidebar-right .sidebar-right-content .sidebar-right-btn .btn-action:hover {
    background: var(--blue);
    color: var(--white-2);
}


.play-content .sidebar-right .sidebar-right-popular-song {
    width: 100%;
    height: 38%;
    display: flex;
    flex-direction: column;
}

.play-content .sidebar-right .sidebar-right-popular-song .popular-song-header {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.play-content .sidebar-right .sidebar-right-popular-song .popular-song-header p {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.play-content .sidebar-right .sidebar-right-popular-artists .popular-artists-header {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.play-content .sidebar-right .sidebar-right-popular-song h2 {
    color: var(--white-2);
    text-transform: capitalize;
    font-weight: var(--fw-700);
    font-size: var(--fs-11);
    margin: 20px 0;
}

.play-content .sidebar-right .sidebar-right-popular-artists h2 {
    color: var(--white-2);
    text-transform: capitalize;
    font-weight: var(--fw-700);
    font-size: var(--fs-11);
    margin: 20px 0;
}

.play-content .sidebar-right .sidebar-right-popular-song ion-icon {
    color: var(--white-2);
    font-weight: var(--fw-700);
    font-size: var(--fs-5);
}

.play-content .sidebar-right .sidebar-right-popular-artists ion-icon {
    color: var(--white-2);
    font-weight: var(--fw-700);
    font-size: var(--fs-5);
}

.play-content .sidebar-right .sidebar-right-popular-song .most-popular-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;
    width: 100%;
}

.play-content .sidebar-right .sidebar-right-popular-song .most-popular-list .most-populars-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;
    position: relative;
    opacity: 0.6;
    z-index: 3;
}

.play-content .sidebar-right .sidebar-right-popular-song .most-popular-list .most-populars-item ion-icon {
    position: absolute;
    top: 50px;
    left: 40px;
    visibility: hidden;
}

.play-content .sidebar-right .sidebar-right-popular-song .most-popular-list .most-populars-item:hover {
    background: var(--white);
    color: var(--black);
    opacity: 1;
}

.play-content .sidebar-right .sidebar-right-popular-song .most-popular-list .most-populars-item:hover ion-icon {
    visibility: visible;
    color: var(--blue);
    animation: left_to_right 200ms ease-in-out;
    z-index: 5;
    transform: scale(1.6);
}

.play-content .sidebar-right .sidebar-right-popular-song .most-popular-list .most-populars-item>h3 {
    color: var(--white-2);
    text-transform: capitalize;
    font-size: var(--fs-12);
    font-weight: var(--fw-700);
    text-align: center;
}

.active {
    opacity: 1 !important;
}

.active-album {
    opacity: 1 !important;
    background: var(--white);
    color: var(--black);
}

.active-follow {
    background: var(--blue) !important;
    color: var(--white-2) !important;
    animation: shakeYou 800ms ease-in-out;
}

.most-populars-title {
    color: var(--white-2);
    text-transform: capitalize;
    font-size: var(--fs-12);
    font-weight: var(--fw-700);
    text-align: center;
}

.most-populars-item {
    cursor: pointer;
}


.play-content .sidebar-right .sidebar-right-popular-song .most-popular-list .most-populars-item>h4 {
    color: var(--black);
    text-transform: capitalize;
    font-size: var(--fs-13);
}

.play-content .sidebar-right .sidebar-right-popular-artists .most-popular-list .most-populars-item img {
    border-radius: var(--border-radius-md);
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.play-content .sidebar-right .sidebar-right-popular-artists {
    width: 100%;
    height: 27%;
    display: flex;
    flex-direction: column;
}

.play-content .sidebar-right .sidebar-right-popular-artists>h3 {
    color: var(--white-2);
    text-transform: capitalize;
    font-weight: var(--fw-700);
    font-size: var(--fs-11);
    margin: 20px 0;
}

.play-content .sidebar-right .sidebar-right-popular-artists .most-populars-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;
    width: 100%;
}


.play-content .sidebar-right .sidebar-right-popular-artists .most-populars-list img {
    border-radius: 50%;
}


.play-content .sidebar-right .sidebar-right-popular-artists .most-populars-list .most-populars-item {
    margin-right: 10px;
    overflow: hidden;
    opacity: 0.5;
}

.play-content .sidebar-right .sidebar-right-popular-artists .most-populars-list .most-populars-item:hover {
    opacity: 1;
}

.play-song .waves {
    width: 20%;
    height: 60%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    position: relative;
}

.play-song .song-playing .waves .wave {
    width: 15%;
    height: 100%;
    background: var(--blue);
    margin-right: 5px;
    animation: unset;
}

.play-song .song-playing .waves .wave:nth-child(2) {
    height: 60%;
}

.play-song .song-playing .waves .wave:nth-child(3) {
    height: 30%;
}

.play-song .song-playing .active .wave {
    animation: waves 1s linear infinite;
}

.play-song .song-playing .active .wave:nth-child(2) {
    animation-delay: 0.4s;
}

.play-song .song-playing .active .wave:nth-child(3) {
    animation-delay: 0.6s;
}

.play-song .song-playing {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.play-song .song-btn {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: var(--fs-7);

}

.play-song .song-content .song-content-title {
    color: var(--white-2);
    font-size: var(--fs-10);
    text-transform: capitalize;
}

.play-song .song-content .song-content-artist-name {
    color: var(--white-2);
    font-size: var(--fs-12);
    text-transform: capitalize;
}

.play-song .song-btn ion-icon {
    color: var(--white);
}

.play-song .song-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 100%;
}

.play-song .song-bar span {
    color: var(--white-2);
    font-size: var(--fs-8);
}

.play-song .song-vol {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 15%;
    height: 100%;
    color: var(--white);
}

.play-song .song-vol ion-icon {
    color: var(--white-2);
    font-size: var(--fs-8);
}

/**
 * scrollbar style
 */

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background: var(--white);
    border-left: 1px solid var(--cultured);
}

body::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 80%);
    border: 3px solid var(--white);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 70%);
}

.has-scrollbar {
    padding-bottom: 5px;
}

.has-scrollbar::-webkit-scrollbar {
    width: 1px;
    /* for vertical scroll */
    height: 12px;
    /* for horizontal scroll */
}

.has-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border: 3px solid transparent;
    border-radius: 20px;
}

.has-scrollbar:hover::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 90%);
}

.has-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--black);
}


/* 
Input range 
*/
/* The slider itself */
.seek_slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: var(--white);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    justify-content: center;
}

.volume_slider {
    -webkit-appearance: none;
    width: fit-content;
    height: 5px;
    border-radius: 5px;
    background: var(--white);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--blue);
    cursor: pointer;
}

.seek_slider::-moz-range-thumb,
.volume_slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.header-mobile-menu,
.nav-open-btn {
    display: none;
}

.alert-danger {
    background: var(--blue);
}

.alert-success {
    background: var(--blue);
    opacity: 0.5;
}

main {
    position: relative;
}

.alert {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.alert #eteinte:hover {
    transform: rotate(1turn);

}

.alert.active {
    color: var(--white-2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    animation: moveFromTopAndShake 1600ms ease-in;
    z-index: 6;
}

.alert-notif {
    position: absolute;
    top: 40%;
    left: 50%;
    display: none;
    width: fit-content;
    color: var(--white-2);
}



.alert-notif p {
    margin: 0 20px;
}

.alert-notif.active {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: fit-content;
    animation: moveFromTop 600ms ease-in-out;
    z-index: 6;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background: var(--black);
    opacity: 0.1;
}

.alert ion-icon,
p {
    color: var(--white-2);
    font-size: var(--fs-7);
}

.hide-less {
    opacity: 0.1 !important;
}

.autocomplete {
    position: relative;
    display: inline-block;
}


/* 
autocomplete 
*/
.autocomplete-items {
    position: absolute;
    /* border: 1px solid #d4d4d4; */
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: var(--black);
    /* border-bottom: 1px solid #d4d4d4;  */
    border-radius: 10px;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.menu-playlist {
    display: none;
}

/*
 *RESPONSIVE
*/
@media screen and (min-width:1300px) and (max-height:815px) {
    .sidebar-right-popular-song {
        width: 100%;
        height: 37% !important;
        display: flex;
        flex-direction: column;
    }

    .most-populars-item {
        height: 100%;
    }

    .most-populars-list .most-populars-item img {
        height: 60px;
        width: 60px;
        z-index: 7;
    }

    .play-content .sidebar-right .sidebar-right-popular-song .most-popular-list {
        height: 100%;
    }

    .sidebar-right-popular-song {
        height: fit-content;
    }

    .play-content .sidebar-right .sidebar-right-popular-song .most-popular-list .most-populars-item {
        justify-content: space-between !important;
        align-items: center;
    }

    .play-content .sidebar-right .sidebar-right-popular-artists {
        width: 100%;
        height: 35%;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:1300px) and (max-height:815px) {

    .play-content .sidebar-right .sidebar-right-popular-song {
        width: 100%;
        height: 34%;
        display: flex;
        flex-direction: column;
    }

    .play-content .sidebar-right .sidebar-right-popular-artists {
        width: 100%;
        height: 35%;
        display: flex;
        flex-direction: column;
    }
}


@media screen and (max-width:1200px) and (max-height:815px) {

    /* CSS  DEFAULT*/

    html {
        font-size: 15px;
        font-family: var(--ff-mali), Arial, Helvetica, sans-serif;
        height: 100vh;
    }


    .play-content .sidebar-right .sidebar-right-popular-song {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
    }

    .play-content .sidebar-right .sidebar-right-popular-song img {
        width: 80px;
        height: 80px;
    }

    .play-content .sidebar-right .sidebar-right-popular-artists {
        width: 100%;
        height: 35%;
        display: flex;
        flex-direction: column;
    }

}

@media screen and (max-width:1100px) and (max-height:815px) {

    /* CSS  DEFAULT*/

    html {
        font-size: 18px;
        font-family: var(--ff-mali), Arial, Helvetica, sans-serif;
        height: 100vh;
    }


    .play-content .sidebar-right .sidebar-right-popular-song {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
    }

    .play-content .sidebar-right .sidebar-right-popular-song img {
        width: 80px;
        height: 80px;
    }

    .play-content .sidebar-right .sidebar-right-popular-artists {
        width: 100%;
        height: 35%;
        display: flex;
        flex-direction: column;
    }

    .sidebar-right-img {
        /* display: none; */
    }

    .seek_slider,
    .volume_slider {
        width: 50%;
    }

    .play-content {
        position: relative;
    }

    .sidebar-left,
    .sidebar-left-title.hide {
        display: none;
    }

    .sidebar-left.active {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        animation: left_to_right 500ms ease-in-out;
        z-index: 6;
        width: 40% !important;
    }

    .hide-less {
        opacity: 0.1 !important;
    }

    .play-content .sidebar-right {
        width: 100%;
        height: 100%;
        padding: 10px 20px;
    }

    .sidebar-right-header {
        align-items: center;
    }

    .nav-open-btn {
        color: var(--black);
        width: 26px;
        display: grid;
        gap: 6px;
        padding-block: 5px;
        background: transparent;
        border: none;
        cursor: pointer;
    }


    .nav-open-btn:hover {}


    .nav-open-btn .line {
        height: 5px;
        background-color: var(--white-2);
    }

    .nav-open-btn .line-1 {
        width: 15px;
    }

    .nav-open-btn .line-3 {
        width: 18px;
    }

    .overlay.active {
        background: var(--white);
        opacity: 0.1;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        display: none;
    }

    .header-mobile-menu {
        visibility: visible;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header-mobile-menu ion-icon {
        color: var(--white-2);
        font-size: var(--fs-6);
    }

    .most-populars-title {
        font-size: var(--fs-10);
    }

    main .play-song {
        padding: 0 20px;
    }

    .most-populars-item .most-populars-title {
        font-size: var(--fs-13) !important;
    }

    .sidebar-right-popular-song .most-popular-list .most-populars-item {
        animation: moveFromTop 1s ease-in-out !important;
    }

    .most-populars-item ion-icon {
        display: none;
    }

    .most-populars-title {
        font-size: var(--fs-12);
    }
}


@media screen and (min-width:1099px) and (max-height:815px){

}

@media screen and (max-width:480px) and (max-height:815px) {

    html {
        font-size: 14px;
        font-family: var(--ff-mali), Arial, Helvetica, sans-serif;
        height: 100vh;
    }

    .hidden {
        display: none !important;
    }

    .play-content .sidebar-right .sidebar-right-nav .nav-list .nav-list-item .active {
        border-bottom: none;
        border-spacing: 10px;
        font-weight: var(--fw-700);
        color: var(--white-2);
        text-transform: uppercase;
        font-size: var(--fs-8);
    }

    body {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        /* 100% taille de l'écran parent:*/
        background-image: url('../img/others/bg.jpg');
    }

    body main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background: var(--black);
        height: 100%;
        width: 100%;
    }


    .play-content .sidebar-left {
        width: 100% !important;
        height: 100%;
        background: var(--black);
    }

    .play-content .sidebar-right {
        background-image: url('../img/artists/1/bg.png');
        background-repeat: no-repeat;
        background-position: left;
        background-size: cover;
    }


    .play-content .sidebar-right .sidebar-right-content {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }



    .play-content .sidebar-right .sidebar-right-popular-song {
        width: 100%;
        height: 38%;
        display: flex;
        flex-direction: column;
    }

    .play-content .sidebar-right .sidebar-right-popular-song .popular-song-header {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .play-content .sidebar-right .sidebar-right-popular-song .popular-song-header p {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }


    .play-content .sidebar-right .sidebar-right-popular-artists .popular-artists-header {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .play-content .sidebar-right .sidebar-right-popular-artists {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
    }


    .play-content .sidebar-right .sidebar-right-popular-artists .most-populars-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        overflow: hidden;
        width: 100%;
    }


    .play-content .sidebar-right .sidebar-right-popular-artists .most-populars-list img {
        border-radius: 50%;
        width: 68px !important;
        height: 68px !important;
    }


    .play-content .sidebar-right .sidebar-right-popular-artists .most-populars-list .most-populars-item {
        margin-right: 10px;
        overflow: hidden;
        opacity: 0.5;
    }


    .play-content .sidebar-right .sidebar-right-popular-artists h2 {
        color: var(--white-2);
        text-transform: capitalize;
        font-weight: var(--fw-700);
        font-size: var(--fs-11);
        margin: 20px 0;
    }



    .play-content .sidebar-right .sidebar-right-popular-artists ion-icon {
        display: none;
    }

    .play-content .sidebar-right .sidebar-right-popular-song .most-popular-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        overflow: auto hidden;
        width: 100%;
        scroll-snap-type: inline mandatory;
        min-width: 100%;

    }

    .play-content .sidebar-right .sidebar-right-popular-song .most-popular-list .most-populars-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 10px;
        position: relative;
        opacity: 0.6;
        z-index: 3;
        scroll-snap-align: start;
        font-size: var(--fs-2);
        width: 100%;
    }

    .play-content .sidebar-right .sidebar-right-popular-song h2 {
        color: var(--white-2);
        text-transform: capitalize;
        font-weight: var(--fw-700);
        font-size: var(--fs-11);
        margin: 20px 0;
    }

    .play-content .sidebar-right .sidebar-right-popular-song ion-icon {
        display: none;
    }

    .play-content .sidebar-right .sidebar-right-popular-song {
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
    }


    .play-content .sidebar-right .sidebar-right-popular-song .most-popular-list .most-populars-item>h3 {
        color: var(--white-2);
        text-transform: capitalize;
        font-size: var(--fs-2);
        font-weight: var(--fw-700);
        text-align: center;
        padding: 4px 0;
    }

    .play-content .sidebar-right .sidebar-right-popular-song .most-popular-list .most-populars-item>h4 {
        color: var(--white-2);
        text-transform: capitalize;
        font-size: var(--fs-5);
        font-weight: var(--fw-300);
        text-align: center;
        padding: 0px 0 4px 0;
    }

    .play-content .sidebar-right .sidebar-right-popular-song .most-popular-list .most-populars-item>img {
        width: 100%;
        height: 100%;
    }

    .play-content .sidebar-right .sidebar-right-popular-song .most-popular-list .most-populars-item:hover {
        background: var(--black);
        color: var(--black);
        opacity: 1;
    }


    .play-song .song-playing {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }


    .play-content .sidebar-left .sidebar-left-playlist-song .sidebar-left-playlist-song-item .song-content-title {
        color: var(--white-2);
        text-transform: capitalize;
    }


    .play-content .sidebar-left .sidebar-left-playlist-song .sidebar-left-playlist-song-item ion-icon {
        color: var(--white-2);
        margin-left: auto;
        font-size: var(--fs-5);
    }

    .play-btn {
        margin-left: auto;
        color: var(--white-2);
        font-size: var(--fs-3);
    }


    main .play-song {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 0 10px !important;
        margin: 0 !important;
    }

    .play-song .song-content  {
        margin-left: 20px !important;
    }

    .sidebar-right-content h3 {
        animation: left_to_right 500ms ease-in-out;
    }

     .sidebar-right-content p {
        animation: left_to_right 1s ease-in-out;
    }
    
    .play-content .sidebar-right .sidebar-right-content .sidebar-right-btn .btn-action:nth-child(1) {
        animation: left_to_right 2s ease-in-out;
        color: var(--white-2);
    }

    .play-content .sidebar-right .sidebar-right-content .sidebar-right-btn .btn-action:nth-child(2) {
        animation: right_to_left 3s ease-in-out;
    }

    .sidebar-right-popular-song .most-popular-list .most-populars-item {
        animation: moveFromTop 4s ease-in-out  !important;
    } 
    
    .play-content .sidebar-right .sidebar-right-popular-artists .most-popular-list .most-populars-item {
        animation: moveFromTop 1s ease-in-out  !important;
    }
    
    .menu-playlist{
        position: fixed;
        width: 100% !important;
        height: 100%;
        background: var(--black);
        z-index: 6;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        padding:0 20px;
        visibility: hidden;
    }

    .menu-playlist.active{
        visibility: visible;
        animation: moveFromBottom 1000ms ease-in-out forwards;
    }
    
    .menu-playlist .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: var(--white-2);
        padding: 10px;
       
    }
    
    .menu-playlist .header ion-icon{
        color: var(--white-2);
        font-size: var(--fs-5);
    }

    .menu-playlist .content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: var(--white-2);
        padding: 10px;

    } 
    
    .menu-playlist .content .song-content-artist-name{
        font-weight: var(--fw-300);
        padding-top: 20px;
    }

    .menu-playlist .content .song-content-title{
        font-weight: var(--fw-700);
    }

    .menu-playlist .content img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }

    .menu-playlist .actions-btn-list{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
    }
    
    .menu-playlist .actions-btn-list .btn-item:not(.btn-item:last-child) {
        margin-right: 20px;
    }

    .menu-playlist .actions-btn-list .btn-item{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: var(--white-2);
        font-weight: var(--fw-700);
        background: var(--black);
        font-size: var(--fs-12);
    } 
    
    .menu-playlist .actions-btn-list .btn-item span{
        
        color: var(--white);
        font-weight: var(--fw-300);
        background: var(--black);
        font-size: var(--fs-12);
    } 
    
    .menu-playlist .actions-btn-list .btn-item ion-icon{
        font-size: var(--fs-7);
    }

    .menu-playlist .song-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: var(--white-2);
        font-size: var(--fs-5);
        margin: 10px 0;
    }

    .menu-playlist .song-btn {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: var(--white-2);
        font-size: var(--fs-5);
        margin: 10px 0;

    }
    
    .menu-playlist .song-btn .play_btn{
        font-size: var(--fs-1);
    }

}