
:root{
    /* Fonts */
    --ff-mali :  'Mali', cursive;

    /* Couleurs */
    --gris : #2e2d2d;
    --bleu-ciel : HSL(208, 75%, 62%);
    --vert-ciel : HSL(126, 33%, 80%); 
    --noir-violet : HSL(145, 61%, 69%); 
    --jaune-pur : HSL(145, 61%, 69%); 
    --black : HSL(210, 29%, 13%); 
    --black-2 : #1A80DC; 
    --white : HSL(210, 9%, 70%); 
    --orange : HSL(63, 95%, 40%);
    --white-2 : HSL(63, 0%, 100%);
    --red : HSL(0, 63%, 40%);
    --blue : HSL(208, 88%, 41%);
    --noir-fonce : #021E36;

    /* Tailles */
    --fs-1: 4.8rem;
    --fs-2: 4rem;
    --fs-3: 3.4rem;
    --fs-4: 2.4rem;
    --fs-5: 2rem;
    --fs-6: 1.8rem;
    --fs-7: 1.5rem;
    --fs-8: 1.4rem;
    --fs-9: 1.3rem;
    --fs-10: 1.1rem;
    --fs-11: 1.0rem;
    --fs-12: 0.5rem;

    /* font weight */
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;

    /*border*/
    --border-radius-md : 40px;
    --border-radius-sm : 20px;
    --border-radius-xm : 10px;
}
